@model ExpensesListViewModel

@{
    ViewData["Title"] = "Index";
}

@if (Model.CurrentCategory.Id == 0)
{
    <h1>All expenses</h1>
}
else
{
    <h1>@Model.CurrentCategory.Name expenses</h1>
}

<p>
    <a asp-action="Create" asp-controller="Expenses">Create New</a>
</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div class="form-group">
                <label asp-for="CurrentCategory" class="control-label"></label>
                <select name="CategoryId" class="form-control" asp-items="@Model.CategoriesSelectList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => Model.Items.FirstOrDefault().Id)
            </th>
            <th>
                <a asp-action="Index" asp-route-id="@Model.CurrentCategory.Id" asp-route-sortBy="@Model.SortOrder["category"]">@Html.DisplayNameFor(x => Model.Items.First().Category)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-id="@Model.CurrentCategory.Id" asp-route-sortBy="@Model.SortOrder["amount"]">@Html.DisplayNameFor(x => Model.Items.First().Amount)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-id="@Model.CurrentCategory.Id" asp-route-sortBy="@Model.SortOrder["date"]">@Html.DisplayNameFor(x => Model.Items.First().Date)</a>
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.Items.First().Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var ex in Model.Items)
    {
        <tr>
            <td>
                @Html.DisplayFor(x => ex.Id)
            </td>
            <td>
                @Html.DisplayFor(x => ex.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(x => ex.Amount)
            </td>
            <td>
                @Html.DisplayFor(x => ex.Date)
            </td>
            <td>
                @Html.DisplayFor(x => ex.Comment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@ex.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@ex.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@ex.Id">Delete</a>
            </td>
        </tr>
    }
</table>

@{
    var prevDisabled = !Model.Items.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Items.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
    asp-route-id="@Model.CurrentCategory.Id"
    asp-route-sortBy="@Model.CurrentSort"
    asp-route-page="@(Model.Items.PageIndex - 1)"
    class="btn btn-dark @prevDisabled">
    Previous
</a>

<a asp-action="Index"
    asp-route-id="@Model.CurrentCategory.Id"
    asp-route-sortBy="@Model.CurrentSort"
    asp-route-page="@(Model.Items.PageIndex + 1)"
    class="btn btn-dark @nextDisabled">
    Next
</a>
