



@model ExpensesListViewModel

@{
    ViewData["Title"] = "Index";
}

@if (Model.CurrentCategory == null)
{
    <h1>All expenses</h1>
    @*@(Model.CurrentCategory = new Category { CategoryId = 0 })*@
}
else
{
<h1>@Model.CurrentCategory.Name expenses</h1>
}

<p>
    <a asp-action="Create" asp-controller="Expenses">Create New</a>
</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div class="form-group">
                <label asp-for="CurrentCategory" class="control-label"></label>
                <select name="CategoryId" class="form-control" asp-items="@Model.CategoriesSelectList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => Model.Expenses.FirstOrDefault().ExpenseId)
            </th>
            <th>
                <a asp-action="Index" asp-route-id="@Model.CurrentCategory.CategoryId" asp-route-sortBy="@ViewBag.CategoryOrder">@Html.DisplayNameFor(x => Model.Expenses.First().Category)</a>
                @*@Html.DisplayNameFor(x => Model.Expenses.First().Category)*@
            </th>
            <th>
                <a asp-action="Index" asp-route-id="@Model.CurrentCategory.CategoryId" asp-route-sortBy="@ViewBag.AmountOrder">@Html.DisplayNameFor(x => Model.Expenses.First().Amount)</a>
                @*@Html.DisplayNameFor(x => Model.Expenses.First().Amount)*@
            </th>
            <th>
                <a asp-action="Index" asp-route-id="@Model.CurrentCategory.CategoryId" asp-route-sortBy="@ViewBag.DateOrder">@Html.DisplayNameFor(x => Model.Expenses.First().Date)</a>
                @*@Html.DisplayNameFor(x => Model.Expenses.First().Date)*@
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.Expenses.First().Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    @{int i = 1;}
    @foreach (var ex in Model.Expenses)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(x => ex.ExpenseId)*@
                @(i++)
            </td>
            <td>
                @Html.DisplayFor(x => ex.Category.Name)
                @*<a asp-action="Index" asp-route-sortBy="@ViewBag.CategoryOrder">@Html.DisplayFor(x => ex.Category.Name)</a>*@
            </td>
            <td>
                @Html.DisplayFor(x => ex.Amount)
                @*<a asp-action="Index" asp-route-sortBy="@ViewBag.AmountOrder">@Html.DisplayFor(x => ex.Amount)</a>*@
            </td>
            <td>
                @Html.DisplayFor(x => ex.Date)
                @*<a asp-action="Index" asp-route-sortBy="@ViewBag.DateOrder">@Html.DisplayFor(x => ex.Date)</a>*@
            </td>
            <td>
                @Html.DisplayFor(x => ex.Comment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@ex.ExpenseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@ex.ExpenseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@ex.ExpenseId">Delete</a>
            </td>
        </tr>
    }
</table>